/* 
#545454
#242424
#FAEDD3
#E2CEA5
#BFC2D9
*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  height: 100vh;
  width: 100%;
  /* background-color: #242424; */
  background: linear-gradient(
    rgba(84, 84, 84, 1) 25%,
    rgba(36, 36, 36, 1) 100%
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  display: flex;
  margin: 9px;
}
